.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}


.d-flex{
  display: flex;
  justify-content: space-between;
}
.d-flex h2{
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.d-flex h3{
  font-size: 30px;
  font-weight: bold;
  margin: 0;padding: 0;
}
.d-flex h3 small{
  font-size: 20px;
}

.quiz{
  background: #485460;
  width: 65%;
  margin: auto;
  padding:15px 30px 30px 30px ; 
  box-shadow: 1px 2px 3px;
}

.change-quesiton{
  display: flex;
  margin-top: 15px;
}
.change-quesiton h1{
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 0;
}
.change-quesiton h2{
  font-size: 18px;
margin-top: 6px;
}
.answeres-area{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-bottom: 15px;
}
.btn{
  border: none;
  outline: none;
  background-color: #ef5777 ;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
  cursor:pointer ;
  border-radius: 5px;
}
.try-btn{
  border: none;
  outline: none;
  background-color: #ef5777 ;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  cursor:pointer ;
  border-radius: 5px;
}
.btn:hover, .try-btn:hover{
  background: #ce3c5b;
}

@media screen and (max-width:992px){
  .quiz{
    width: 80%;
  }
}